schemas/products_flexible.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="product">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element minOccurs="0" name="description" type="xs:string" />
                            <xs:element minOccurs="0" name="description_common" type="xs:string" />
                            <xs:element minOccurs="0" name="description_for_ozon" type="xs:string" />
                            <xs:element minOccurs="0" name="description_for_wildberries" type="xs:string" />
                            <xs:element name="weight" type="xs:string" />
                            <xs:element name="category" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>